<!--Documento diz respeito à tela do Adm de edição da linha -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Define a escala da página para dispositivos móveis e diferentes tamanhos de tela -->
    <title>NEXT STOP - ADMINISTRADOR</title>
    <!-- Título que será exibido na aba do navegador -->   
    <link rel="stylesheet" href="estilo.css">  
    <link href="so_onibus (2).png" rel="icon">
</head>
<body>
    <header>
        <!-- Adiciona a barra de navegação do cabeçalho -->
        <div class="topnav">
            <!-- Logo do sistema -->
            <img class="topnav-img" src="logo_nextstop_ADM.png" alt="Logo Next Stop">
            <a href="tela3_inicio_adm.html">LINHA</a>
            <a href="tela_EditarMotorista.html">MOTORISTA</a>
            <a href="tela_EditarTrajeto.html">TRAJETO</a>
            <a href="tela_VisaoGeral.html">VISÃO GERAL</a>
            <!-- Botão para acessar a área do administrador -->
            <button class="topnav-button" onclick="window.location.href='tela1_usuario.html'">SAIR</button>
        </div>
    </header>

    <!-- Mensagem de boas-vindas -->
    <div id="welcome-message" class="welcome-message">
        <span class="welcome-text">Bem-vindo, Administrador!</span>
        <button class="close-button" onclick="closeMessage()">×</button>
    </div>

    <!-- Formulário para pesquisa de linhas -->
    <form id="form_linhaAdm" method="POST">
        <div class="container">
            <legend id="pesquisaLinha">
                <!-- Título do formulário -->
                <h2><b>PESQUISAR LINHA</b></h2>
            </legend>
        </div>

        <!-- Input para o usuário inserir o número da linha desejada -->
        <input type="number" min="1" name="Pesquise a linha" id="pesquisa_linha" class="pesquisa_linha" placeholder="Insira o número da linha" required>

        <!-- Botão para pesquisar a linha -->
        <button type="button" id="botao_pesquisa" class="botao_pesquisa" onclick="">Pesquisar</button>
    </form>

    <script>
        function closeMessage() {
            document.getElementById('welcome-message').style.display = 'none';
        }
    </script>
</body>
</html>










