<!--Documento diz respeito à tela do Adm que permite que ele veja todas as infos do banco úteis pra ele-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- Define o idioma da página para português do Brasil -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Define a escala da página para dispositivos móveis e diferentes tamanhos de tela -->
    <title>NEXT STOP</title>
    <!-- Título que será exibido na aba do navegador -->   
    <link rel="stylesheet" href="estilo.css">  
    <link href="so_onibus (2).png" rel="icon">
</head>
<body>
    <header>
        <!-- Adiciona a barra de navegação do cabeçalho -->
        <div class="topnav">
            <!-- Logo do sistema -->
            <img class="topnav-img" src="logo_nextstop_ADM.png" alt="Logo Next Stop">
            <a href="tela3_inicio_adm.html">LINHA</a>
            <a href="tela_EditarMotorista.html">MOTORISTA</a>
            <a href="tela_EditarTrajeto.html">TRAJETO</a>
            <a href="tela_VisaoGeral.html">VISÃO GERAL</a>
            <!-- Botão para acessar a área do administrador -->
            <button class="topnav-button" onclick="window.location.href='tela1_usuario.html'">SAIR</button>
        </div>
    </header>

    
</body>
</html>
