<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload e Pesquisa</title>
    <link rel="stylesheet" href="../estilo.css">
    <link href="../fotos/so_onibus (2).png" rel="icon">
</head>
<body>
    <h1>Upload de Motorista</h1>
    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <label for="name">Nome do Motorista:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="phone">Telefone:</label>
        <input type="text" id="phone" name="phone" required><br><br>
        
        <label for="linha_id">ID da Linha:</label>
        <input type="text" id="linha_id" name="linha_id" required><br><br>
        
        <label for="empresa_id">ID da Empresa:</label>
        <input type="text" id="empresa_id" name="empresa_id" required><br><br>
        
        <label for="file">Selecione uma foto:</label>
        <input type="file" id="file" name="file" accept="image/*" required><br><br>
        
        <input type="submit" value="Upload">
    </form>

    <h2>Pesquisar Motorista</h2>
    <form method="GET" action="{{ url_for('search_motorista') }}">
        <label for="search_name">Nome do Motorista:</label>
        <input type="text" id="search_name" name="name" required><br><br>
        
        <input type="submit" value="Pesquisar">
    </form>
</body>
</html>
